# Ignore SSH keys and secrets
sftp_key
sftp_key.pub
*.pem
*.key

# Ignore local environment files
.env
*.config

# Ignore compiled & temporary files
__pycache__/
*.zip
*.log


# Ignore Python dependencies (if using a virtual environment)
venv/
.env/