# Ignore AWS credentials
.aws/
*.pem
*.key

# Ignore local environment files
.env
*.config

# Ignore compiled & temporary files
__pycache__/
*.zip
*.log

# Ignore Terraform & CloudFormation state
*.tfstate
*.tfstate.backup
.cloudformation/

# Ignore Python dependencies (if using a virtual environment)
venv/
.env/